@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

$chaos-primary-blue: (
    50: #0a1156,
    100: #0a3356,
    200: #0a6656,
    300: #0a3356,
    400: #0a3356,
    500: #0a3356,
    600: #0a3356,
    700: #0a3356,
    800: #0a3356,
    900: #0a3356,
    A100: #0a3356,
    A200: #0a3356,
    A400: #0a3356,
    A700: #0a3356,
    contrast: (
        50: white,
        100: white,
        200: white,
        300: white,
        400: white,
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
        A100: white,
        A200: white,
        A400: white,
        A700: white,
    )
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$chaos-app-primary: mat-palette($chaos-primary-blue);
$chaos-app-accent:  mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$chaos-app-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$chaos-app-theme: mat-light-theme($chaos-app-primary, $chaos-app-accent, $chaos-app-warn);
// Create a config with the default typography levels.

$custom-typography: mat-typography-config(

  $display-1: mat-typography-level(52px, 48px, 700)
);

// Override typography CSS classes (e.g., mat-h1, mat-display-1, mat-typography, etc.).
@include mat-base-typography($custom-typography);
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($chaos-app-theme);
