/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500");
@import url("https://fonts.googleapis.com/css?family=ATitillium+Web:200,400,900|Fjalla+One|Open+Sans:100,200,300,400");
html, body { height: 100%; }
body {
    margin: 0;
    font-family: fjalla one,sans-serif;
    font-weight: 400;
    line-height: 1.5;
    font-size: 16px;
    font-size: 100%;
}

app-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}

.responsive-image {
    max-width: 100%;
    height: auto;
}
/* Departures and Nominations */
.mat-typography h1.mat-display-1{
    margin: 30px;
}
/* Footer Text */
.mat-small {
    font: 400 12px/2em Roboto, "Helvetica Neue", sans-serif!important;
    padding: 10px;
}

.mat-button-wrapper {
    font-weight: 400;
}
