<mat-grid-list gutterSize="0px" cols=3 rowHeight="148px">
    <mat-grid-tile color="primary">
        <mat-grid-tile-header color="primary">INFORMATION</mat-grid-tile-header>
        <ul class="mat-small no-bullets">
            <li>Data collected and organized by Adrienne Cobb</li>
            <li>Site Built by Adrian, Avi, and Damon</li>
        </ul>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-grid-tile-header>DATA CURATOR INFO</mat-grid-tile-header>
        <ul class="mat-small no-bullets">
            <li><a href="mailto:trumprussia0@gmail.com">Email Me!</a></li>
            <li><a href="https://twitter.com/ImagineWorldas1" target="_blank">Twitter</a></li>
            <li><a href="https://www.reddit.com/user/rusticgorilla" target="_blank">Reddit</a></li>
            <li><a href="https://trumprussiablog.wordpress.com/contact/" target="_blank">Blog</a></li>
        </ul>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-grid-tile-header>DEVELOPER CONTACT</mat-grid-tile-header>
        <ul class="mat-small no-bullets">
            <li><a href="mailto:adrianvfx@gmail.com">Email Adrian!</a></li>
            <li><a href="mailto:gooddamon@gmail.com">Email Damon!</a></li>
        </ul>
    </mat-grid-tile>
</mat-grid-list>
<mat-grid-list cols=1 rowHeight="30px" color="primary">
    <mat-grid-tile><span class="mat-small">© 2018 Copyright: <a href="https://www.45chaos.com/">45 Chaos</a></span></mat-grid-tile>
</mat-grid-list>
