<div class="main-image">
    <section class="mat-typography">
        <h1 class="mat-display-1">How Many Mooches?</h1>
        <p>Calculate a Time in Mooches!</p>
        <div class="mooch-calculator">
            <mat-form-field>
                <input matInput [matDatepicker]="picker" (dateInput)="getMooches($event)" placeholder="Select a Date">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
    </section>
</div>
<mat-grid-list gutterSize="0px" cols=1 rowHeight="200px">
    <mat-grid-tile>
        <h1>{{moochCount}}</h1>
    </mat-grid-tile>
</mat-grid-list>
