/* .main-image {
    padding-top: 30px;
    box-shadow: inset 0 0 0 1000px rgba(15,59,97,.9);
    background-image: url(../assets/images/whiteHouse.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    min-height: 300px;
}

.main-image h1 {
    font-family: fjalla one,sans-serif;
    color: #0194c9;
    font-size: 56px;
}

.main-image h1, .main-image p {
    text-align: center;
}

.main-image p {
    color: #f7f7ff;
    font-size: 1.5rem;
    font-weight: 100;
    line-height: 1em;
}

.search-container {
    background: white;
    width: 25%;
    border-radius: 3px;
    padding: 3px;
    margin-left: auto;
    margin-right: auto;
} */
